<menu>
  <li><a href="/dashboard">Dashboard</a></li>
  <li><a href="/projects">Projects</a></li>
  <li><a href="/tasks">Tasks</a></li>
  <li><a href="/teams">Teams</a></li>
  <li><a href="/settings">Settings</a></li>
  <li><a href="/sessions/new">Sign Out</a></li>
</menu>

<%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>